USE [master]
GO
/****** Object:  Database [eshop]    Script Date: 23.12.2025 10:18:54 ******/
CREATE DATABASE [eshop]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eshop]
GO
/****** Object:  User [admin]    Script Date: 23.12.2025 10:18:55 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [admin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[order_status]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_status]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_name] [nvarchar](128) NOT NULL,
	[location_code] [varchar](128) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[payment_status] [int] NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[currency] [char](3) NOT NULL,
	[shipping_address] [nvarchar](max) NOT NULL,
	[billing_address] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_order_summary]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   READ-ONLY VIEWS (API)
============================================================ */

CREATE VIEW [dbo].[v_order_summary] AS
SELECT
    o.id AS order_id,
    o.id_user,
    os.status_name AS order_status,
    ps.status_name AS payment_status,
    o.total_amount,
    o.currency,
    w.warehouse_name,
    o.created_at
FROM orders o
JOIN order_status os ON o.status_id = os.id
JOIN payment_status ps ON o.payment_status = ps.id
JOIN warehouse w ON o.warehouse_id = w.id;
GO
/****** Object:  Table [dbo].[products]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](128) NOT NULL,
	[unit_price] [decimal](12, 2) NOT NULL,
	[tax_rate] [decimal](5, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](12, 2) NOT NULL,
	[tax_rate] [decimal](5, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_order_items]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_order_items] AS
SELECT
    oi.order_id,
    p.product_name,
    oi.quantity,
    oi.unit_price,
    oi.tax_rate
FROM order_items oi
JOIN products p ON oi.product_id = p.id;
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity_available] [int] NOT NULL,
	[quantity_reserved] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[warehouse_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[payment_provider] [varchar](64) NOT NULL,
	[provider_transaction_id] [varchar](128) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouse] ([id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([payment_status])
REFERENCES [dbo].[payment_status] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[order_status] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouse] ([id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD CHECK  (([quantity_available]>=(0)))
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD CHECK  (([quantity_reserved]>=(0)))
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([tax_rate]>=(0) AND [tax_rate]<=(1)))
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  ((isjson([billing_address])=(1)))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  ((isjson([shipping_address])=(1)))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([tax_rate]>=(0) AND [tax_rate]<=(1)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([unit_price]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[tg_order_create]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[tg_order_create]
    @user_id INT,
    @shipping_address NVARCHAR(MAX),
    @billing_address NVARCHAR(MAX),
    @currency CHAR(3),
    @order_id INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    DECLARE @status_id INT =
        (SELECT id FROM order_status WHERE status_name = 'CREATED');

    DECLARE @payment_status_id INT =
        (SELECT id FROM payment_status WHERE status_name = 'INITIATED');

    DECLARE @warehouse_id INT =
        (SELECT TOP 1 id FROM warehouse WHERE is_active = 1 ORDER BY id);

    INSERT INTO orders (
        id_user, status_id, payment_status, warehouse_id,
        total_amount, currency, shipping_address, billing_address
    )
    VALUES (
        @user_id, @status_id, @payment_status_id, @warehouse_id,
        0, @currency, @shipping_address, @billing_address
    );

    SET @order_id = SCOPE_IDENTITY();
    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[tg_order_item_add]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[tg_order_item_add]
    @order_id INT,
    @product_id INT,
    @quantity INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    DECLARE @price DECIMAL(12,2);
    DECLARE @tax DECIMAL(5,4);

    SELECT @price = unit_price, @tax = tax_rate
    FROM products WHERE id = @product_id;

    IF @price IS NULL
    BEGIN
        ROLLBACK;
        THROW 50001, 'Invalid product', 1;
    END;

    INSERT INTO order_items (
        order_id, product_id, quantity, unit_price, tax_rate
    )
    VALUES (
        @order_id, @product_id, @quantity, @price, @tax
    );

    UPDATE orders
    SET total_amount = total_amount + (@price * @quantity * (1 + @tax)),
        updated_at = SYSDATETIME()
    WHERE id = @order_id;

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[tg_payment_confirm]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[tg_payment_confirm]
    @order_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    UPDATE orders
    SET payment_status = (SELECT id FROM payment_status WHERE status_name = 'CONFIRMED'),
        status_id = (SELECT id FROM order_status WHERE status_name = 'PAID'),
        updated_at = SYSDATETIME()
    WHERE id = @order_id;

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[tg_stock_reserve]    Script Date: 23.12.2025 10:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[tg_stock_reserve]
    @order_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    DECLARE @warehouse_id INT =
        (SELECT warehouse_id FROM orders WHERE id = @order_id);

    UPDATE i
    SET quantity_available = quantity_available - oi.quantity,
        quantity_reserved  = quantity_reserved  + oi.quantity
    FROM inventory i
    JOIN order_items oi ON oi.product_id = i.product_id
    WHERE i.warehouse_id = @warehouse_id
      AND oi.order_id = @order_id
      AND i.quantity_available >= oi.quantity;

    IF @@ROWCOUNT = 0
    BEGIN
        ROLLBACK;
        THROW 50002, 'Insufficient stock', 1;
    END;

    COMMIT TRANSACTION;
END;
GO
-- ==========================
-- Sales report view
-- ==========================
CREATE VIEW [dbo].[v_sales_report] AS
SELECT
    o.id AS order_id,
    o.id_user AS user_id,
    os.status_name AS order_status,
    ps.status_name AS payment_status,
    o.total_amount,
    o.currency,
    w.warehouse_name,
    o.created_at,
    SUM(oi.quantity) AS total_items,
    SUM(oi.unit_price * oi.quantity * (1 + oi.tax_rate)) AS total_amount_calculated
FROM orders o
JOIN order_status os ON o.status_id = os.id
JOIN payment_status ps ON o.payment_status = ps.id
JOIN warehouse w ON o.warehouse_id = w.id
LEFT JOIN order_items oi ON oi.order_id = o.id
GROUP BY 
    o.id, o.id_user, os.status_name, ps.status_name, o.total_amount, o.currency, w.warehouse_name, o.created_at;
GO

-- ==========================
-- Stock report view
-- ==========================
CREATE VIEW [dbo].[v_stock_report] AS
SELECT
    i.id AS inventory_id,
    w.warehouse_name,
    p.product_name,
    i.quantity_available,
    i.quantity_reserved,
    (i.quantity_available + i.quantity_reserved) AS quantity_total
FROM inventory i
JOIN warehouse w ON i.warehouse_id = w.id
JOIN products p ON i.product_id = p.id;
GO
INSERT INTO [order_status] ([status_name]) VALUES ('CREATED'), ('AWAITING_PAYMENT'), ('PAID'), ('PACKING'), ('SHIPPED'), ('CANCELLED');
GO
INSERT INTO [payment_status] ([status_name]) VALUES ('INITIATED'), ('CONFIRMED'), ('FAILED'), ('REFUNDED');
GO
USE [master]
GO